.page-list .list-container {
    padding: 2rem;
}

.page-list .list .rank {
    text-align: end;
    padding-right: 1rem;
}

.page-list .list .level button {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: left;
    background: var(--color-background);
    color: var(--color-on-background);
}

.page-list .list .level button:hover {
    background: var(--color-background-hover);
}

.page-list .list .level.active button {
    background: var(--color-primary);
    color: var(--color-on-primary);
}
