.page-list .list-container,
.page-list .level-container,
.page-list .level-container .level {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* LEFT LIST */
.page-list .list-container {
    padding: 2rem;
}

/* TABLE */
.page-list .list {
    width: 100%;
    border-spacing: 0 0.5rem;
}

.page-list .list .rank {
    text-align: right;
    padding-right: 1rem;
    opacity: 0.7;
}

.page-list .list .level button {
    width: 100%;
    border: none;
    border-radius: 0.75rem;

    padding: 1rem;

    background: var(--color-surface);
    color: var(--color-on-background);

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    transition: 0.15s ease;
}

.page-list .list .level button:hover {
    background: var(--color-surface-hover);
    transform: translateY(-2px);
}

.page-list .list .level.active button {
    background: var(--color-primary);
    color: var(--color-on-primary);
}

.page-list .list .level.error button {
    color: var(--color-error);
    text-decoration: line-through;
}

/* IMAGE */
.page-list .list .level button img {
    width: 100%;
    border-radius: 0.5rem;
}

/* RIGHT PANEL */
.page-list .level-container {
    padding: 2rem;
}

.page-list .level-container .level {
    gap: 2rem;
}

/* STATS */
.page-list .level-container .stats {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.page-list .level-container .stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TABLES */
.page-list .level-container table {
    border-spacing: 0 0.75rem;
    width: 100%;
}

.page-list .level-container table td {
    padding-block: 0.75rem;
}
